@media(min-width: 1024px) and (max-width: 1440px) {
    .calculator {
        margin: 0px 530px;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    .calculator {
        background-color: black;
        width: 385px;
        margin: 0px 311px;
    }
}

@media(min-width: 426px) and (max-width: 768px) {
    .calculator {
        margin: 0px 183px;
    }
}

@media(min-width: 424px) and (max-width: 767px) {
    .calculator {
        margin: 0px 31px;
        background-color: black;
        width: 347px;
    }
}

@media(min-width: 375px) and (max-width: 424px) {
    .calculator {
        margin: 0px 18px;
        background-color: black;
        width: 320px;
        height: 330px;
    }

    .display {
        left: 0px;
        height: 50px;
        width: 275px;
    }

    .button {
        grid-template-columns: repeat(4, 65px);
        grid-gap: 6px;
        height: 220px;
        left: 5px;
    }
}

@media(max-width: 320px) {
    .calculator {
        margin: 0px 0px;
        background-color: black;
        width: 298px;
        height: 290px;
    }

    .display {
        left: 0px;
        height: 50px;
        width: 255px;
        top: 10px;
    }

    .button {
        grid-template-columns: repeat(4, 60px);
        grid-gap: 6px;
        height: 210px;
        left: 5px;
    }
}